<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gin Server</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Fortify</h1>
            <p>Fortify is used to generate and store secrets</p>

            <div class="field">
                <label class="label" for="nameField">Name:</label>
                <div class="control">
                    <input class="input" type="text" id="nameField" value="Secret name">
                </div>
            </div>

            <div class="field">
                <label class="label" for="valueField">Value:</label>
                <div class="control">
                    <input class="input" type="text" id="valueField" value="secret">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" type="button" id="generateBtn">Generate</button>
                </div>
                <div class="control">
                    <button class="button is-link" type="button" id="saveBtn">Save</button>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <button class="button is-info" type="button" id="showBtn">Show</button>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <textarea class="textarea" id="secretList" name="secretList" readonly>...</textarea>
                </div>
            </div>
        </div>
    </section>

    <script src="/static/js/main.js"></script>
</body>
</html>
