<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gin Server</title>
</head>
<body>
    <h1>PassMan</h1>

    <p>PassMan is used to generate and store passwords</p>

    <label for="pwd"> Name:</label><br>
    <input type="text" id="nameField" value="website name"><br>
    <label for="pwd"> Password:</label><br>
    <input type="text" id="passwordField" value="New Password">
    <button type="button" id="generatePassBtn">Generate Password</button>
    <button type="button" id="saveBtn">Save</button><br>

    <p></p>

    <button type="button" id="showBtn">Show password</button><br>
    <p></p>
    <textarea id="pwdList" name="passwordList" readonly>...</textarea>

    <script src="/static/js/main.js"></script>
</body>
</html>

